@import url("https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600;700&family=Qwitcher+Grypen:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Geist", sans-serif;
  background-color: #faf7f0;
}
a {
  text-decoration: none;
}

/*! Ravi's Hero Section  */
/*? Ravi's Image BG  */
.ravi-image {
  /* Sizing  */
  height: calc(25vw + 50vh);
  width: 100vw;
  /* Image size */
  background-image: url("https://i.postimg.cc/2S30zZMv/fndtn-13.png");
  background-size: cover;
  background-position: center;
}

/*? Ravi's Image BG  */
/*? Header  */
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(1.5vw + 0.2vh);
  /* Glass Effect */
  background-color: rgba(0, 0, 0, 0.15); /* Transparent white */
  backdrop-filter: blur(0.5px); /* Increased blur for smoothness */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Soft shadow for a floating effect */
}
.logo {
  width: calc(3vw + 3vh);
  margin: 0.2rem 0;
}
nav {
  p {
    text-shadow: 0px 0px 5px #000000;
  }
}
nav a {
  color: white;
  text-decoration: none;
  /* font-family: "Belanosima", sans-serif; */
  font-weight: 600;
  font-size: calc(1.22vw + 1.3vh);
  margin-left: calc(0.5vw);
}
.contact-a {
  font-weight: 800;
  color: #ffd300;
  text-shadow: none;
}

/*? Header  */

/* ? Side Videos */
main {
  position: relative;
}

.hero {
  overflow: hidden;
  padding-bottom: 5%;
}

.right-pages {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.right-pages {
  position: absolute;
  right: 0;
  height: calc(25vw + 50vh - calc(3vw + 3vh + 0.65rem));
  background-color: #faf7f0;
  border-top-left-radius: 0.8rem;
}

.right-pages video {
  /* width: calc((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3);
  height: calc((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3); */
  width: 100%;
  margin: 0;
  border-radius: calc(0.5vh + 0.75vw);
}

.exp-vid {
  width: calc((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3);
  height: calc((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3);
  padding: 1rem 1rem 0rem 1rem;
}

/* ? Side Videos */
.ravi-image {
  position: relative;
}

.ylw-stroke {
  z-index: 1;
  position: absolute;
  bottom: calc(-0.65vh - 4.5vw);
  left: -1%;
  width: calc(105vw - ((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3));
}
.ylw-stroke img {
  width: calc(105vw - ((25vw + 50vh - calc(3vw + 3vh + 0.65rem)) / 3));
  height: 10%;
}

.name {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  color: #253439;
  position: absolute;
  font-size: calc(0.1vh + 4vw);
  top: calc(20%);
  left: calc(1% + 10vw);
}

/*! Ravi's Hero Section  */

/*! About the Firm Section   */
/*? BLocks  */
.about-firm {
  margin: calc(1.3vh + 4vw) calc(2vw + 2px);
  overflow: hidden;
  padding-bottom: 5%;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: calc(2.3vh + 2vw);
}

.firm-card {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal-sized columns */
  gap: 12px; /* 10px gap between all cells */
  height: 100%; /* Overall height of the grid */
  width: 100%; /* Full width of the screen */
  margin: auto;
}
/* .firm-card-margin {
  margin: calc(-3vh + 25vw) 0;
} */

.left-grid,
.right-grid {
  display: grid;
  height: 100%; /* Full height of the parent container */
  gap: 10px; /* Adds 10px gap between cells in both left and right grids */
}

/* Left Grid Layout */
.left-grid {
  grid-template-rows: 92% 8%; /* Grid1 is slightly larger than Grid2 */
}

/* Right Grid Layout */
.right-grid {
  grid-template-rows: 2% 98%; /* Logo is smallest, Grid3 larger than Grid4 */
}

/* Different background colors for each grid cell */
.firm-image {
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
}

.firm-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: calc(0.3vh + 0.7vw);
}

.card-details {
  background-color: white;
  border-radius: calc(0.3vh + 0.7vw);
  position: relative;
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
}
.card-title-r::before {
  content: "Office of Adv. Ravi Chhikara";
  background-color: rgba(255, 255, 255, 0.96);
  position: absolute;
  padding: calc(0.2vh + 1vw);
  width: 100%;
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  color: #ffd300;
  width: max-content;
  font-size: calc(6.5vw);
  left: calc(-2.5vh - 40vw);
  top: 0;
  border-radius: calc(0.3vh + 0.7vw);
  text-align: center;
}
.card-title-l2::before {
  content: "Legal Expertise You Can Trust";
  background-color: rgba(255, 255, 255, 0.9);
  position: absolute;
  padding: calc(0.2vh + 1vw);
  width: 100%;
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  color: #ffd300;
  width: max-content;
  font-size: calc(6.5vw);
  left: 0;
  top: 0;
  border-radius: calc(0.3vh + 0.7vw);
  text-align: center;
}

.ttl-three::before {
  content: "Tailored Legal Counsel for You";
  font-size: calc(6.35vw);
}

.ttl-four::before {
  content: "Our Reputation for Excellence";
}

.card-details p {
  margin-top: calc(6.5vw + 2.8vw + 0.6vh);
  z-index: 2;
  padding: calc(0.5vh + 0.9vw);
  color: #aaa; /* Light starting color */
  font-size: calc(3vw + 0.3vh);
  font-weight: 500;
  transition: color 0.5s ease; /* Smooth transition for color change */
}

.about-title {
  border-radius: calc(0.3vh + 0.7vw);
  text-align: right;
  font-size: calc(0.5vh + 0.8vw);
  color: #5b5b5b;
  font-family: "Belanosima", sans-serif;
  font-weight: 500;
  margin: 0 5px;
}

.about-title-l {
  text-align: left;
}

.firm-stats {
  background-color: #ffffff;
  border-radius: calc(0.3vh + 0.7vw);
  box-shadow: 0.5px 0.5px 4px rgba(0, 0, 0, 0.03),
    -0.5px -0.5px 4px rgba(0, 0, 0, 0.03);
}

.firm-stats {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 5px;
  font-family: "Belanosima", sans-serif;
}

.smile {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.seperator {
  height: 70%;
  width: 1px;
  background-color: rgba(41, 41, 41, 0.2);
}

.smile p,
.time p {
  font-size: calc(0.5vh + 1.9vw);
  color: #4a4a4a;
}

.big-stat {
  font-size: calc(0.4vh + 2.8vw);
  color: #4a4a4a;
  text-wrap: nowrap;
  text-align: center;
  font-weight: 500;
}

.time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.firm-stats video {
  width: calc(1vh + 5vw);
}

/*? BLocks  */
/*! About the Firm Section   */
/*! About Me Section  */

.about-me {
  padding: calc(0.1vh + 1vw) calc(1vh + 1.4vw);
  background-color: #253439;
  position: relative;
}

.about-me::before {
  content: "About Me";
  position: absolute;
  color: #e0e0e0;
  font-family: "Belanosima", sans-serif;
  top: 1%;
  left: 8%;
  font-size: calc(1vh + 2vw);
}

.tear {
  position: absolute;
  z-index: -2;
  /* background-color: rebeccapurple; */
}

.tear img {
  width: 110vw;
}

.tear-top {
  top: -4%;
  left: -15%;
  transform: rotate(-2deg);
}

.tear-bottom {
  bottom: -4%;
  left: -15%;
  transform: rotate(5deg);
}

.about-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: calc(2vh + 4vw) 0;
}

.about-card img {
  width: calc(20vw + 12vh);
  margin: 0 1rem;
  height: auto;
  margin-right: 20px;
  border-radius: 8px;
}

.about-card p {
  font-size: calc(0.2vh + 1.8vw);
  font-weight: 450;
  color: white;
  line-height: 1.6;
}

.about-info {
  color: white;
}
.about-info h1 {
  font-family: "Belanosima", sans-serif;
  font-weight: 600;
  font-size: calc(0.2vh + 5vw);
  text-decoration: underline 1.5px solid #ffd300;
}
.about-info span {
  font-size: calc(0.2vh + 2vw);
  display: block;
  margin: calc(0.5vh + 1.2vw) 0 calc(0.7vh + 2vw) 0;
}
.about-info p {
}

/*! About Me Section  */
