@media screen and (min-width: 724px) {
  .name {
    position: absolute;
    font-size: calc(0.1vh + 5vw);
    top: calc(25%);
    left: calc(1% + 12vw);
  }
  .chat-box {
    margin: 5rem 2.5vw;
  }
}
